.operator {
  background-color: #f2a007;
  color: #fff;
}

#equals {
  background-color: #51b141;
  color: #fff;
  grid-column: span 2;
}

#clear {
  background-color: #eb4034;
  color: #fff;
}

#decimal {
  background-color: #ccc;
}

button:active {
  box-shadow: none;
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

#output {
  display: block;
  font-size: 36px;
  font-weight: bold;
}
